<%= link_to 'Back <i class="material-icons left">arrow_back</i>'.html_safe, posts_path, class: "waves-effect waves-teal btn-flat" %>
<% if signed_in? %>
  <%= link_to 'Edit <i class="material-icons right">edit</i>'.html_safe, edit_post_path(@post), class: "waves-effect waves-teal btn-flat" %>
<% end %>

<div class="posts-content">
  <h2><%= @post.title %></h2>
  <p><%= @post.description %></p>
</div>


